body {
  background-color: black;
  text-align: center;
  color: white;
}


#myCanvas {
  background-image: url("https://images.pexels.com/photos/958653/dandelion-meadow-spring-common-dandelion-958653.jpeg?cs=srgb&dl=pexels-felixmittermeier-958653.jpg&fm=jpg");
  background-size: 600px;
  border-radius: 30px;
  border: 1px solid rgb(255,245,227);
}

.main{
  display: flex;
  text-align: left;
  justify-content: space-around;
}

